*.a
*.o
*.so
*.bundle
*.def
*.dll.a
*.gem
*.log
*.rdoc.cpp
*.dSYM
*~
wget-log*

*/doc
**/tmp

vendor/
.doc
.yardoc
.DS_Store
NUL
Makefile
depend.mf
.vscode

rucy/include/rucy/extension.h
rucy/include/rucy/function.h
rucy/include/rucy/module.h
rucy/include/rucy/value.h
rucy/src/function.cpp
rucy/src/module.cpp
rucy/src/value.cpp

processing/test/.png

**/*.xcodeproj/*
!**/*.xcodeproj/project.pbxproj
